@import "tailwindcss";

:root {
  --background: #f7f7f2;
  --foreground: #17231d;

  /*--primary: #087f5b;*/
  --primary: var(--color-teal-600);
  --primary-hover: var(--color-teal-950);

  --card: #ffffff;
  --border: #dfe5e1;

  --muted: #66736d;

  
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
}